In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv(r'C:/Users/kubad/Desktop/PROJECTS/Guvi_project-3/youtube_ad_revenue_dataset.csv')

print(f"Original shape: {df.shape}")

df.head(10)

Original shape: (122400, 12)

,video_id,date,views,likes,comments,watch_time_minutes,video_length_minutes,subscribers,category,device,country,ad_revenue_usd
0,vid_3092,2024-09-24 10:50:40.993199,9936,1221.0,320.0,26497.214184,2.862137,228086,Entertainment,TV,IN,203.178237
1,vid_3459,2024-09-22 10:50:40.993199,10017,642.0,346.0,15209.747445,23.738069,736015,Gaming,Tablet,CA,140.880508
2,vid_4784,2024-11-21 10:50:40.993199,10097,1979.0,187.0,57332.658498,26.200634,240534,Education,TV,CA,360.134008
3,vid_4078,2025-01-28 10:50:40.993199,10034,1191.0,242.0,31334.517771,11.770340,434482,Entertainment,Mobile,UK,224.638261
4,vid_3522,2025-04-28 10:50:40.993199,9889,1858.0,477.0,15665.666434,6.635854,42030,Education,Mobile,CA,165.514388
5,vid_5000,2025-03-31 10:50:40.993199,10002,843.0,159.0,35131.756228,12.491826,541268,Music,TV,CA,234.965996
6,vid_2041,2024-12-10 10:50:40.993199,9989,1944.0,160.0,35380.070908,6.520903,193736,Music,Mobile,IN,255.009412
7,vid_3623,2025-04-05 10:50:40.993199,10051,784.0,458.0,19263.212580,24.586121,823662,Entertainment,Tablet,US,164.533455
8,vid_750,2025-02-17 10:50:40.993199,9934,292.0,88.0,NaN,5.946666,58437,Entertainment,Desktop,UK,336.409856
9,vid_4434,2025-04-16 10:50:40.993199,10051,NaN,61.0,40011.579945,24.454723,103872,Tech,Tablet,DE,246.711883

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122400 entries, 0 to 122399
Data columns (total 12 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   video_id              122400 non-null  object
 1   date                  122400 non-null  object
 2   views                 122400 non-null  int64
 3   likes                 116283 non-null  float64
 4   comments              116288 non-null  float64
 5   watch_time_minutes    116295 non-null  float64
 6   video_length_minutes  122400 non-null  float64
 7   subscribers           122400 non-null  int64
 8   category              122400 non-null  object
 9   device                122400 non-null  object
 10  country               122400 non-null  object
 11  ad_revenue_usd        122400 non-null  float64
dtypes: float64(5), int64(2), object(5)
memory usage: 11.2+ MB

In [11]:
print(f"Initial shape: {df.shape}")
print("\nMissing values before cleaning:")
print(df.isnull().sum()[df.isnull().sum() > 0])
    
    # 1. Drop irrelevant columns
    # 'video_id' is an identifier, useless for regression.
    # 'date' requires complex feature engineering (time series), bypassing for baseline model.
cols_to_drop = ['video_id', 'date']
df = df.drop(columns=cols_to_drop)
print(f"\nDropped columns: {cols_to_drop}")

Initial shape: (122400, 12)

Missing values before cleaning:
likes                 6117
comments              6112
watch_time_minutes    6105
dtype: int64

Dropped columns: ['video_id', 'date']

In [12]:
cols_with_nans = ['likes', 'comments', 'watch_time_minutes']
for col in cols_with_nans:
        median_val = df[col].median()
        df[col] = df[col].fillna(median_val)
        
print("\nMissing values after cleaning:")
print(df.isnull().sum().sum()) # Should be 0

Missing values after cleaning:
0

In [13]:
duplicates = df.duplicated().sum()
print(f"\nFound {duplicates} duplicate rows.")
if duplicates > 0:
    df = df.drop_duplicates()
    print("Duplicates removed.")

Found 2400 duplicate rows.
Duplicates removed.

In [14]:
print(f"\nFinal cleaned shape: {df.shape}")

Final cleaned shape: (120000, 10)

In [15]:
cleaned_filepath = 'cleaned_youtube_data.csv'
df.to_csv(cleaned_filepath, index=False)
print(f"\nCleaned data saved to: {cleaned_filepath}")

Cleaned data saved to: cleaned_youtube_data.csv

In [18]:
df = pd.read_csv(r'C:/Users/kubad/Desktop/PROJECTS/Guvi_project-3/cleaned_youtube_data.csv')

print(f"Original shape: {df.shape}")

df.head(10)

Original shape: (120000, 10)

,views,likes,comments,watch_time_minutes,video_length_minutes,subscribers,category,device,country,ad_revenue_usd
0,9936.0,1221.0,320.0,26497.214184,2.862137,228086.0,Entertainment,TV,IN,203.178237
1,10017.0,642.0,346.0,15209.747445,23.738069,736015.0,Gaming,Tablet,CA,140.880508
2,10097.0,1979.0,187.0,57332.658498,26.200634,240534.0,Education,TV,CA,360.134008
3,10034.0,1191.0,242.0,31334.517771,11.770340,434482.0,Entertainment,Mobile,UK,224.638261
4,9889.0,1858.0,477.0,15665.666434,6.635854,42030.0,Education,Mobile,CA,165.514388
5,10002.0,843.0,159.0,35131.756228,12.491826,541268.0,Music,TV,CA,234.965996
6,9989.0,1944.0,160.0,35380.070908,6.520903,193736.0,Music,Mobile,IN,255.009412
7,10051.0,784.0,458.0,19263.212580,24.586121,823662.0,Entertainment,Tablet,US,164.533455
8,9934.0,292.0,88.0,37531.990337,5.946666,58437.0,Entertainment,Desktop,UK,336.409856
9,10051.0,1103.0,61.0,40011.579945,24.454723,103872.0,Tech,Tablet,DE,246.711883

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120000 entries, 0 to 119999
Data columns (total 10 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   views                 120000 non-null  float64
 1   likes                 120000 non-null  float64
 2   comments              120000 non-null  float64
 3   watch_time_minutes    120000 non-null  float64
 4   video_length_minutes  120000 non-null  float64
 5   subscribers           120000 non-null  float64
 6   category              120000 non-null  object
 7   device                120000 non-null  object
 8   country               120000 non-null  object
 9   ad_revenue_usd        120000 non-null  float64
dtypes: float64(7), object(3)
memory usage: 9.2+ MB